.PageView {
    .page-header {
        padding-left: 31px;
        padding-bottom: 30px;
        border-bottom: 1px solid #E5E5E5;
        color: #09477D;
    }
    .page-content {
        margin-top: 30px;
        .tab-content {
            height: 100%;
        }
    }
    
}
