.SideBar {
    background-color: #f3f9fd;
    color: #09477D;
    .bottom-options {
        flex-basis: 20%;
    }
    .side-menu-option {
        display: flex;
        padding: 10px;
    }
    .accordion-item {
        border: none;
        background: #f3f9fd;
        &.active {
            color: #00CCFF;
        }
        .accordion-button {
            button {
                padding: 10px;
                background: transparent;
                box-shadow: none;
                font-size: 12px;
                color: #09477D;
                &::after {
                    margin-left: 40px;
                    background-image: url('../../assets/images/close.svg');
                }
            }
        }
        .accordion-body {
            padding-top: 0px;
            .item {
                padding: 10px;
            }
        }
    }
}